// compileExpanded: $1.css

// #E4F5E9
// #408DA7

$ocean: #1C6BA0;
$land: #78B6A4;
$countryBorder: #A0EBCB;

// html {
//   background-color: $ocean;
// }

.container {
  text-align: center;
}

.tooltip {
  position: absolute;
  padding: 5px;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);
  pointer-events: none;
  font-family: sans-serif;
  font-size: 12px;
  text-align: left;
  & > h3 {
    margin: 5px 0;
  }
}

// *************** svg styles ***************

.ocean {
  fill: $ocean;
}

.land {
  fill: $land;
}

.country-border {
  fill: none;
  stroke: $countryBorder;
  stroke-width: 0.25;
  stroke-linejoin: round;
  stroke-linecap: round;
}
